### basic data Structure
1. list ðŸ‘‘
2. Tuple
3. Set
4. Dictionary ðŸ‘‘

list properties
- ordered (Sequence)
- indexed
- mutable (changeable)
- duplicate values are allowed
- hetrogeneous (diff. types of data)
- list id denoted by '[]'
- an iterable can be converted to using 'list()' function

what to learn?
- creating
- indexing/slicing
- modifying
- methods

In [45]:
x = [1,2,3,4,5,6]
names=['Anshu','Abhishek','Divyanshi','Madhu']
mixeds=['potato', 10, 'tomato', 20, 'Onion', 30]

In [46]:
name='Anshu'
list(name)

['A', 'n', 's', 'h', 'u']

In [47]:
x=[] # blank list

In [48]:
a=[1] # single element list
a*10 # duplicate the list

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [49]:
data='Can i take the class @Shikhar_Awasthi'
words=data.split()
print(words)

['Can', 'i', 'take', 'the', 'class', '@Shikhar_Awasthi']

In [50]:
words[0]='would'

In [51]:
words[-1]

'@Shikhar_Awasthi'

In [52]:
words[1]='you'
words[2]='please'
words[3]='take'
words[4]='the'
words[5]='class'
words

['would', 'you', 'please', 'take', 'the', 'class']

In [53]:
x=[2,4,6,8,10,12,14,16,18,20]
print(x[:3]) # first element
print(x[-3:]) # last 3
print(x[:100]) # first 100 elements if available
print(x[::-1]) # reverse the list

[2, 4, 6]
[16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [54]:
for name in names:
    print(name)

Anshu
Abhishek
Divyanshi
Madhu

In [55]:
# reverse iteration
for num in x[::-1]:
    print(num)

20
18
16
14
12
10
8
6
4
2

In [56]:
# only first 5 elements of the list in loop
for i in x[:5]:
    print(i)

2
4
6
8
10

don't update the list while iterating over it.

list has 11 methods

In [57]:
x

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [58]:
x.append(111)

In [59]:
x

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 111]

In [60]:
x.insert(3, 40)
print(x)

[2, 4, 6, 40, 8, 10, 12, 14, 16, 18, 20, 111]

In [61]:
y=[3,6,9,12,15,18,21,24,27,30]

In [62]:
x + y

[2,
 4,
 6,
 40,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 111,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30]

In [63]:
x.extend(y) # extend the list
print(x)
print(y)

[2, 4, 6, 40, 8, 10, 12, 14, 16, 18, 20, 111, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [64]:
x.clear()
print(x)

[]

In [65]:
names.remove('Anshu')

In [66]:
names.remove('Madhu')

In [67]:
names

['Abhishek', 'Divyanshi']

In [68]:
words.pop(2)

'please'

In [69]:
words

['would', 'you', 'take', 'the', 'class']

In [70]:
words.pop(-2)
print(words)

['would', 'you', 'take', 'class']