- iterables(anything that can be used in loop)
- for loop
    - step base loop
    - special iterables
        -range()
        -enumerate
        -zip
    - for - else
- while loop
    - condition base loop
    - while else
iterables

In [1]:
x=[12,52,15,34,25]
for i in x:
    print(i)

12
52
15
34
25

In [3]:
animals=['lion','tiger','elephant']
for animal in animals:
    print(f'have you seen {animal}?')

have you seen lion?
have you seen tiger?
have you seen elephant?

In [4]:
movies=['jumangi','resident','RRR','KGF','MS Dhoni','Harry potter','Iron Man','Thor']

for j in movies:
    print(f'{j:20} | {len(j)}')

jumangi              | 7
resident             | 8
RRR                  | 3
KGF                  | 3
MS Dhoni             | 8
Harry potter         | 12
Iron Man             | 8
Thor                 | 4

In [6]:
colors=['red','blue','green','white','black','violent','orange','pink','silver','gold']

for name in colors:
    if 'a' in name:
        print(name)
    if 'e' not in name:
        print(name)

black
black
orange
pink
gold

In [7]:
# 0 to 9 display
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [8]:
# 15 to 30 iterate
for i in range(15,31):
    print(i, end=" ")

15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [9]:
#1 - 100 with increment 5
for i in range(1,102,5):
    print(i, end=" ")

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96 101

In [10]:
# reverse loop
for i in range(10,0,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [12]:
# enumeration
for movie in enumerate(movies):
    print(movie)

(0, 'jumangi')
(1, 'resident')
(2, 'RRR')
(3, 'KGF')
(4, 'MS Dhoni')
(5, 'Harry potter')
(6, 'Iron Man')
(7, 'Thor')

In [13]:
for i, movie in enumerate(movies):
    print(i, movie)

0 jumangi
1 resident
2 RRR
3 KGF
4 MS Dhoni
5 Harry potter
6 Iron Man
7 Thor

In [16]:
x=[2,56,45,67,12]
y=[5,4,8,7,6]
z=[47,52,65,21,34]

In [17]:
# non pythonic
for i in range(len(x)):
    print(x[i]+y[i]+z[i], end=' ')

54 112 118 95 52

In [18]:
# pythonic
for i,j,k in zip(x,y,z):
    print(i+j+k, end=' ')

54 112 118 95 52

In [20]:
# for total
total=0
for i,j,k in zip(x,y,z):
    total+= i+j+k
print(f'{total=}')

total=431

In [26]:
data=[1,3,5,0,6,0,8,0,6,7,6,2,7,9,None,0,0,4,6,0,8,7,9,6,0,5]
for i in data:
    if i == 0:
        continue
    print(i, end=' ')

1 3 5 6 8 6 7 6 2 7 9 None 4 6 8 7 9 6 5

In [30]:
for i in data:
    if i == None:
        break
    print(i, end=' ')
print('"the end"')

1 3 5 0 6 0 8 0 6 7 6 2 7 9 "the end"

In [28]:
for i in data:
    if i == 0: continue
    if i == None: break
    print(i, end=' ')

1 3 5 6 8 6 7 6 2 7 9

In [9]:

for i in range(0,5):
    for j in range(0,i+1):
        print(i+1,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
i=12345
print(i%10)
print(i//10)

5
1234

In [12]:
number=int(input("enter number"))
total=0
while number>0:
    total+=number%10
    number=number//10
print(total)

45

In [13]:
retries=0
while retries<3:
    pin=input("enter password:")
    if pin=="1234":
        print('welcome👍')
        break
    else:
        print('Wrong password👎')

Wrong password👎
Wrong password👎
welcome👍